
<h1>{{titulo}}</h1>
<button (click)="cambiarTitulo()" class="btn btn-success">CambiarTitulo</button>
<button (click)="ocultarVideoJuegos(false)" *ngIf="mostrarVideoJuegos" class="btn btn-warning">Ocultar</button>
<button (click)="ocultarVideoJuegos(true)" *ngIf="!mostrarVideoJuegos" class="btn btn-primary">Mostrar</button>

<app-videojuego *ngIf="mostrarVideoJuegos"></app-videojuego>

<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
          </tr>
        </thead>
        <tbody *ngIf="persons?.length != 0">
            <tr *ngFor="let person of persons">
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="persons?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-6">
  <select placeholder="Placeholder" [(ngModel)]="userSelected"  (ngModelChange)="onUsuarioSeleccionado($event)" name="item" class="form-control">
    <option *ngFor="let item of usuarios" [value]="item.id">
      {{item.nombre}}
    </option>
  </select>
  Usuario Seleccionado es: {{userSelected}}
  {{textoModificado}}
</div>
<h1>
  <app-progress-bar [progress]="counterProgress"></app-progress-bar>
  <app-countdown #countdown
  [init]="totalCountdown"
  (onDecrease)="updateProgress($event)"
  (onComplete)="countdownFinished()"></app-countdown>
  <div class="initInput">
    <label for="totalCountdown">Init on: </label>
    <input type="text" id="totalCountdown" [(ngModel)]="totalCountdown">
  </div>
  <button (click)="countdown.startCountdown(); counterProgress=0;" class="btn btn-primary">Reiniciar</button>
</h1>

