<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!-- Welcome to {{ title }}! -->
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<!-- <app-videojuego></app-videojuego> -->
<app-menu-list></app-menu-list>
<hr>

<!-- <div class="container">
    <div class="form">
        <div style="text-align:center">
        <h1>
        Registration Form
        </h1>
        </div>
        <dynamic-form [fields]="regConfig" (submit)="submit($event)">
        </dynamic-form>
        <div class="margin-top">
        {{ form.value | json }}
        </div>
      </div>
</div> -->
<!-- <div class="container">
    <div class="btn-group btn-breadcrumb breadcrumb-default ">
        <button routerLinkActive="active"><a>Historia Clinica</a></button>
        <button routerLinkActive="active">1. Datos Identificación</button>
        <button routerLinkActive="active" >2. Motivo Consulta</button>
     </div> 
     <div class="progress ml-auto first">
				<div class="progress-bar second" role="progressbar" [ngStyle]="{'width.%':width}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
					<div routerLink="/Hc1" class="row">
							<app-menu></app-menu>
					</div>
					
				<div routerLink="/Hc2" class="row">
				
				</div>
				<div routerLink="/Hc3" class="row">
					
				</div>
</div> -->
<router-outlet></router-outlet>
