<div class="container">
  <h2>Contacto</h2>
  <!-- [[(ngModel)]="binding"] data binding -->
  <!-- <div class="row"> -->

    <form #formContacto="ngForm" (submit)="onSubmit(formContacto)" novalidate>
      <div class="row">
        <div class="col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required>
        </div>
        <div class="col-md-6">
            <div *ngIf="nombre.touched && !nombre.valid" class="errores fadeIn" >
                El nombre es obligatorio
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <label for="apellidos">Apellidos</label>
              <input type="text" class="form-control" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" pattern="[a-zA-Z ]*" required>
          </div>
          <div class="col-md-6">
              <div *ngIf="apellidos.touched && !apellidos.valid" class="errores fadeIn" >
                  El apellido es obligatorio
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="usuario.email" required>
          </div>
          <div class="col-md-6">
              <div *ngIf="email.touched && !email.valid" class="errores fadeIn" >
                  El Correo es obligatorio
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <label for="mensaje">Mensaje</label>
              <textarea name="mensaje" id="mensaje" class="form-control" #mensaje="ngModel"
              [(ngModel)]="usuario.mensaje" required minlength="4" maxlength="10"></textarea>
          </div>
            <div *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)" >
              <div *ngIf="mensaje.errors.required" class="errores fadeIn">
                mensaje es requerido.
              </div>
              <div *ngIf="mensaje.errors.minlength" class="errores fadeIn">
                mensaje debe contener minimo 4  y maximo 10 caracteres.
              </div>
              <div *ngIf="mensaje.errors.maxlength" class="errores fadeIn">
                  mensaje debe contener maximo 10 caracteres.
                </div>
          </div>
      </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
  </div>
<!-- </div> -->

